.Footer {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 100%;
}

.Footer_box1,
.Footer_box2 {
  width: 100%;
}

.Footer_box1 {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Footer_box2 {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.Footer_subscribe {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 70%;
  gap: 1.1rem;
}

.Footer_subscribe_banner {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  gap: 1rem;
  background: url("../assets/Footer/Subscribe.png") center/cover no-repeat;
  height: 70%;
  border-radius: 20px;
}

.Footer_subscribe_banner h1 {
  color: #2a328f;
  font-family: "Caecilia LT Pro", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 1.6rem, 2rem);
}

.Footer_subscribe_banner_form {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

.Footer_subscribe_banner_form input {
  width: 100%;
  padding: 0.8em;
  height: 2.5em;
  border: none;
  border-radius: 20px;
  font-family: "Caecilia LT Pro", sans-serif;
  font-weight: 300;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
}

.Footer_subscribe_banner_form button {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 40%;
  height: calc(100% - 0.5em);
  border: none;
  border-radius: 10px;
  background-color: #2a328f;
  color: #fff;
  font-family: "Caecilia LT Pro", sans-serif;
  font-weight: 300;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  cursor: pointer;
}

.Footer_subscribe_banner_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.1rem;
  width: 100%;
}

.Footer_subscribe_banner_nav_navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.Footer_subscribe_banner_nav_navigation a {
  text-decoration: none;
  color: black;
  font-family: "Caecilia LT Pro", sans-serif;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  cursor: pointer;
  margin: 0.25em 0;
}

.Footer_subscribe_banner_nav_socials {
  width: 100%;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.Footer_subscribe_banner_nav_socials img {
  height: 1.5rem;
  width: auto;
  cursor: pointer;
}

.Footer_box2_box1,
.Footer_box2_box3 {
  color: black;
  font-family: "Caecilia LT Pro", sans-serif;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
}

.Footer_box2_box2 img {
  height: 3rem;
  width: auto;
}

.Footer_box2_box3 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.Footer_box2_innerBox {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Footer_subscribe_banner_form {
    width: 100%;
  }

  .Footer_box2 {
    flex-direction: column;
  }
  .Footer_subscribe_banner h1 {
    color: #2a328f;
    font-family: "Caecilia LT Pro", sans-serif;
    font-weight: 600;
    font-size: clamp(0.5rem, 1.2rem, 1.5rem);
  }
  .Footer_subscribe_banner_form input {
    width: 100%;
    padding: 0.8em;
    height: 2.5em;
    border: none;
    border-radius: 17px;
    font-family: "Caecilia LT Pro", sans-serif;
    font-weight: 300;
    font-size: clamp(0.5rem, 0.8rem, 1.5rem);
  }
  .Footer_subscribe_banner_form button {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    width: 40%;
    height: calc(100% - 0.5em);
    border: none;
    border-radius: 10px;
    background-color: #2a328f;
    color: #fff;
    font-family: "Caecilia LT Pro", sans-serif;
    font-weight: 300;
    font-size: clamp(0.5rem, 0.7rem, 1rem);
    cursor: pointer;
  }
  .Footer_subscribe_banner_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    max-width: 99.99%;
  }
  .Footer_subscribe_banner_nav_navigation {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    width: 45%;
    max-width: none;
    align-items: start;
  }
  .Footer_subscribe_banner_nav_socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11vh;
    align-items: end;
  }
  .Footer_box2_innerBox {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}
