@import url("https://fonts.cdnfonts.com/css/caecilia-lt-pro");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url(https://db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham-Medium);

:root {
  --primary-color: #2a328f;
  --text-color: #484646;
  --background-light: #f1f5f9;
  --blue-light: #e0f2fe;
  --blue-text: #38bdf8;
  --green-light: #dcfce7;
  --green-text: #16a34a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  padding: 0 2rem;
}

.HomePage_banner {
  min-height: 70vh;
  width: 100%;
  background: center/cover no-repeat;
  position: relative;
}

.Homepage_desc {
  padding: 4rem 7rem;
  text-align: center;
}

.Homepage_desc img {
  height: 10rem;
}

.Homepage_desc p {
  max-width: max-content;
  margin: 0 auto;
  font-weight: 900;
  color: var(--primary-color);
  text-align: justify;
}

.Homepage_memberships {
  padding: 4rem 2rem;
}

.Homepage_memberships_heading {
  text-align: center;
  margin-bottom: 3rem;
}

.Homepage_memberships_heading h1 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.Homepage_memberships_heading p {
  font-weight: 600;
}

.Homepage_memberships_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.Homepage_memberships_cards_card {
  flex: 1 1 300px;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.Homepage_memberships_cards_card:hover {
  transform: scale(1.05);
}

.Homepage_card_box1 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.Homepage_card_box1_price1,
.Homepage_card_box1_price2 {
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.Homepage_card_box1_price1 {
  background: var(--blue-light);
  color: var(--blue-text);
}

.Homepage_card_box1_price2 {
  background: var(--green-light);
  color: var(--green-text);
}

.Homepage_card_box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Homepage_card_box2 h3 {
  color: var(--primary-color);
}

.Homepage_card_box3 li {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.Homepage_memberships_button {
  text-align: center;
  margin-top: 3rem;
}

.Homepage_memberships_button button,
.Home_join_innerBox button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Homepage_memberships_button button:hover,
.Home_join_innerBox button:hover {
  background-color: #3a43a5;
}

.Home_Ourstrength {
  padding: 4rem 0rem;
}

.Home_Ourstrength_heading {
  background-color: var(--background-light);
  padding: 3rem 5rem;
  text-align: center;
}

.Home_Ourstrength_heading h1 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.Home_Ourstrength_heading h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.Homepage_desc p {
  max-width: 80vw;
  margin: 0 auto;
  font-weight: 900;
  color: var(--primary-color);
  text-align: center;
}

.Home_Ourstrength_calendar {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  width: 100%;
}

.Homepage_join {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5vh;
}

.Home_join_innerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  padding: 4rem 2rem;
  height: 100%;
  width: 60%;
  background: center/cover no-repeat;
}

.Home_join_innerBox h1 {
  color: #fff;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Homepage_memberships_cards_card_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.galleryPage_podcast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e7;
  padding: 1rem;
  margin-bottom: 10vh;
  cursor: pointer;
}

.Homepage_desc p,
.Homepage_memberships_heading h2 {
  font-weight: 200;
}

@media (max-width: 768px) {
  .Homepage_desc {
    padding: 2rem 1rem;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
  }

  .Homepage_memberships_cards {
    flex-direction: column;
    align-items: center;
  }

  .Homepage_memberships_cards_card {
    width: 100%;
    max-width: none;
  }
  .Homepage_desc p {
    max-width: 90vw;
    margin: 0 auto;
    font-weight: 900;
    color: var(--primary-color);
    text-align: justify;
  }
  .Home_join_innerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;

    height: 100%;
    width: 90%;
    background: center / cover no-repeat;
  }

  .Home_join_innerBox {
    padding: 2rem 1rem;
  }
  .Homepage_memberships_button button,
  .Home_join_innerBox button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: clamp(0.6rem, 0.8rem, 1rem);
  }
  .Homepage_join {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
    text-align: justify;
  }
  .Home_Ourstrength {
    padding: 0;
  }
  .Home_Ourstrength_heading {
    background-color: var(--background-light);
    padding: 2rem;
    text-align: center;
  }
  .Home_Ourstrength_heading h2 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }
  .Home_Ourstrength_calendar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 25vh;
    width: 100%;
  }
  .galleryPage_podcast {
    width: 100%;
    padding: 4rem 2rem;
    background-color: #e4e4e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
  }
  .HomePage_banner {
    min-height: 40vh;
    width: 100%;
    background: center/cover no-repeat;
    position: relative;
  }
  .Homepage_desc p,
  .Homepage_memberships_heading h2 {
    font-weight: 200;
  }
}
