@import url("https://fonts.cdnfonts.com/css/caecilia-lt-pro");
@import url("https://fonts.cdnfonts.com/css/gotham-9");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2a328f;
  --text-color: #484646;
  --white: #fff;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-position: inside;
}

li {
  text-indent: -1.2em;
  padding-left: 1.8em;
}

li::marker {
  font-size: 1em;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.membershipPage {
  max-width: 100%;
  overflow-x: hidden;
}

.membershipPage_banner {
  min-height: 70vh;
  width: 100%;
  background: center/cover no-repeat;
  position: relative;
  margin-bottom: 5rem;
}

.membershipPage_banner_heading {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  text-align: center;
}

.membershipPage_banner_heading h1 {
  color: var(--white);
}

.membershipPage_box1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

.membershipPage_box1_box1,
.mebershipPage_box1_box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.membershipPage_box1_card {
  flex: 1 1 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 1rem;
  min-height: 450px;
}

.membershipPage_box1_card_img {
  height: 200px;
}

.membershipPage_box1_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.membershipPage_box1_card_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.membershipPage_box1_card_content_price {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: max-content;
}

.membershipPage_box1_card_content_price1,
.membershipPage_box1_card_content_price2,
.membershipPage_box1_card_content_price_price3 {
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
}

.membershipPage_box1_card_content_price1 {
  background: #e0f2fe;
  color: #38bdf8;
}

.membershipPage_box1_card_content_price2 {
  background: #dcfce7;
  color: #16a34a;
}
.membershipPage_box1_card_content_price_price3 {
  background: #fce6dc;
  color: #a35a16;
}

.membershipPage_box1_card_content_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.membershipPage_box1_card_content_heading h1 {
  color: var(--primary-color);
}

.membershipPage_box1_card_content_heading img {
  height: 0.8rem;
}

.membershipPage_box1_card_content_list li {
}

.membershipPage_wps,
.membershipPage_ap {
  margin-bottom: 5rem;
  padding: 2rem;
}

.membershipPage_jp {
  margin-bottom: 0;
  padding: 2rem;
}

.membershipPage_wps_heading,
.membershipPage_ap_heading,
.membershipPage_jp_heading {
  text-align: center;
  margin-bottom: 2rem;
}

.membershipPage_wps_heading h1,
.membershipPage_ap_heading h1,
.membershipPage_jp_heading h1 {
  color: var(--primary-color);
}

.membershipPage_wps_cards,
.membershipPage_ap_cards,
.membershipPage_jp_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.membershipPage_wps_cards_card {
  flex: 1 1 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow);
  border-radius: 30px;
  padding: 1.5rem;
  min-height: 400px;
}

.membershipPage_ap_cards_card,
.membershipPage_jp_cards_card {
  flex: 1 1 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow);
  border-radius: 30px;
  padding: 1.5rem;
  min-height: 500px;
}

.membershipPage_jp_cards_card {
  min-height: 600px;
}

.membershipPage_jp_cards_card {
  position: relative; /* Make the card container relative */
}

.membershipPage_jp_cards_button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.membershipPage_wps_cards_card_img,
.membershipPage_ap_cards_img,
.membershipPage_jp_cards_img {
  height: 180px;
}

.membershipPage_wps_cards_card_img img,
.membershipPage_ap_cards_img img,
.membershipPage_jp_cards_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.membershipPage_wps_cards_card_caption {
  color: #8a8c8e;
}

.membershipPage_wps_cards_card_name,
.membershipPage_ap_cards_title h1,
.membershipPage_jp_cards_title h1 {
  color: var(--primary-color);

  font-weight: 600;
}

.membershipPage_wps_cards_card_price {
  height: 2.2rem;
}

.membershipPage_wps_cards_card_price,
.membershipPage_ap_cards_prices,
.membershipPage_jp_cards_prices {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.membershipPage_wps_cards_card_price1,
.membershipPage_wps_cards_card_price2,
.membershipPage_wps_cards_card_price3,
.membershipPage_ap_cards_prices_priceBox,
.membershipPage_jp_cards_prices_priceBox {
  border-radius: 20px;
  padding: 0.5rem 0.7rem;
}

.membershipPage_wps_cards_card_price1 {
  background: #ffedd5;
  color: #fb923c;
}

.membershipPage_wps_cards_card_price2 {
  background: #e0f2fe;
  color: #38bdf8;
}

.membershipPage_wps_cards_card_price3,
.membershipPage_ap_cards_prices_priceBox,
.membershipPage_jp_cards_prices_priceBox {
  background-color: #dcfce7;
  color: #16a34a;
}

.membershipPage_wps_cards_card_button,
.membershipPage_jp_cards_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.membershipPage_wps_cards_card_button a,
.membershipPage_jp_cards_button a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  text-decoration: none;
}

.membershipPage_wps_cards_card_button a p,
.membershipPage_jp_cards_button a p {
  color: var(--primary-color);
  font-weight: 600;
}

.membershipPage_wps_cards_card_button h1,
.membershipPage_jp_cards_button h3 {
  color: var(--primary-color);
}

.membershipPage_wps_cards_card_button img,
.membershipPage_jp_cards_button img {
  height: 0.8rem;
}

.membershipPage_wps_button button,
.membershipPage_Sc_content_list button,
.membershipPage_SQ_internalBox button,
.memberShip_junioCamp_internalBox_button button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 2rem auto 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.membershipPage_wps_button button:hover,
.membershipPage_Sc_content_list button:hover,
.membershipPage_SQ_internalBox button:hover,
.memberShip_junioCamp_internalBox_button button:hover {
  background-color: #3a43b8;
}

.membershipPage_jp_cards_list {
  height: 50%;
}

.membershipPage_Sc_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3vh;
  color: var(--primary-color);
}

.membershipPage_Sc {
  margin-bottom: 0;
  padding: 6rem;
}

.membershipPage_Sc_content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: max-content;
}

.membershipPage_Sc_content_img {
  flex: 1 1 300px;
  padding-left: 2rem;
}

.membershipPage_Sc_content_img img {
  width: 90%;
  height: 100%;
  border-radius: 10px;
}

.membershipPage_Sc_content_list {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}

.membershipPage_Sc_content_list_item {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
  width: 90%;
}

.membershipPage_Sc_content_list_item img {
  width: 3rem;
  height: auto;
}

.membershipPage_Sc_content_list_item p {
}

.membershipPage_Sc_content_list h1 {
  font-family: "Caecilia LT Pro", sans-serif;
  color: var(--primary-color);
  font-weight: 900;
}

.membershipPage_Sc_content_list button {
  margin: 0 0 0 0;
}

.membershipPage_SQ {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberShip_junioCamp {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membershipPage_SQ_internalBox,
.memberShip_junioCamp_internalBox {
  width: 100%;
  max-width: 1200px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  border-radius: 30px;
}

.membershipPage_SQ_internalBox {
  background: center/cover;
  background-repeat: no-repeat;
}

.memberShip_junioCamp_internalBox {
  background-image: url("../assets/Membership/juniorCamp.png");
  background-position: center;
  background-size: contain;
}

.membershipPage_SQ_internalBox h1 {
  font-family: "Caecilia LT Pro", sans-serif;

  color: var(--white);
  font-weight: 900;
  max-width: 800px;
}

.membershipPage_event_banner {
  height: 50vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membershipPage_event_banner_internalBox {
  height: 60vh;
  width: 82vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.membershipPage_event_banner_internalBox_box1 {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.membershipPage_event_banner_internalBox_box1 h1 {
  color: var(--white);
}

.membershipPage_event_banner_internalBox_box1 h3 {
  color: var(--white);
  font-weight: 400;
}

.membershipPage_event_banner_internalBox_box1 button {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.membershipPage_event_banner_internalBox_box2 {
  height: 70%;
  width: 95%;
  display: flex;
}

.membershipPage_event_banner_internalBox_box2_box1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.membershipPage_event_banner_internalBox_box2_box2 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.membershipPage_event_banner_internalBox_box2_box1_card {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: max-content;
  height: max-content;
  padding: 1rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: var(--white);
}

.membershipPage_event_banner_internalBox_box2_box2_list {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  gap: 0.7rem;
  padding: 0.5rem;
  height: max-content;
}

.membershipPage_event_banner_internalBox_box2_box2_list {
  color: var(--white);
  font-family: "Caecilia LT Pro", sans-serif;
}

.membershipPage_event_banner_internalBox_box2_box2_list_item {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  color: var(--white);
}

@media screen and (max-width: 480px) {
  .membershipPage_event_banner_internalBox {
    height: max-content;
    width: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  .membershipPage_Sc {
    margin-bottom: 5vh;
  }
  .membershipPage_event_banner_internalBox_box1 {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .membershipPage_event_banner_internalBox_box1 button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.7rem;
  }
  .membershipPage_event_banner_internalBox_box2 {
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .membershipPage_wps_cards_card_button img,
  .membershipPage_jp_cards_button img {
    height: 0.6rem;
  }
  .membershipPage_event_banner_internalBox_box2_box1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .membershipPage_event_banner_internalBox_box2_box1_card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 80%;
    text-align: center;
    height: max-content;
    padding: 0.5rem;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: var(--white);
  }

  .membershipPage_banner {
    min-height: 40vh;
    width: 100%;
    background: center/cover no-repeat;
    position: relative;
    margin-bottom: 5rem;
  }
  .membershipPage_event_banner {
    height: 100vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .membershipPage_event_banner_internalBox_box2_box2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .membershipPage_banner_heading h1,
  .membershipPage_SQ_internalBox h1 {
  }

  .membershipPage_wps_cards_card_price {
    height: max-content;
  }

  .membershipPage_box1_card_content_price,
  .membershipPage_wps_cards_card_price,
  .membershipPage_ap_cards_prices,
  .membershipPage_jp_cards_prices {
    flex-direction: column;
  }
  .membershipPage_box1_card_content_price1,
  .membershipPage_box1_card_content_price2,
  .membershipPage_box1_card_content_price_price3 {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
  }
  .membershipPage_wps_cards_card_price1,
  .membershipPage_wps_cards_card_price2,
  .membershipPage_wps_cards_card_price3,
  .membershipPage_ap_cards_prices_priceBox,
  .membershipPage_jp_cards_prices_priceBox {
    border-radius: 20px;
    padding: 0.5rem 0.7rem;
    text-align: center;
  }
  .membershipPage_Sc_content_list {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
  }
  .membershipPage_Sc_content_list h2 {
    text-align: center;
  }
  .memberShip_junioCamp_internalBox_button {
    display: none;
  }
  .membershipPage_SQ_internalBox,
  .memberShip_junioCamp_internalBox {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border-radius: 30px;
  }

  .memberShip_junioCamp {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 1rem;
  }

  .memberShip_junioCamp_internalBox_button1 {
    display: block;
  }
  .memberShip_junioCamp_internalBox_button1 button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto 0;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);

    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .membershipPage_ap_cards_card {
    flex: 1 1 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--shadow);
    border-radius: 30px;
    padding: 1.5rem;
    min-height: 400px;
  }
  .membershipPage_jp_cards_card {
    min-height: 450px;
  }
  .membershipPage_Sc {
    padding: 0;
  }
}
