@import url("https://fonts.cdnfonts.com/css/caecilia-lt-pro");
@import url("https://db.onlinewebfonts.com/c/924ee4158324c02e3e0d62e54cafd14f?family=Gotham+Book");

:root {
  --primary-color: #2a328f;
  --background-color: rgba(255, 255, 255, 0.25);
  --border-color: rgba(255, 255, 255, 0.18);
  --nav-background: rgba(255, 252, 252, 0.5);
  --text-color: #2a328f;
  --active-text-color: #fff;
  --heading: "Caecilia LT Pro", sans-serif;
  --heading-size: clamp(1.2rem, 1.7rem, 2.2rem);
  --sub-heading: "Gotham Book", sans-serif;
  --sub-heading-size: clamp(1rem, 1.1rem, 1.5rem);
}

a {
  color: #2a328f;
}

h1 {
  font-family: var(--heading);
  font-size: var(--heading-size);
}

h2,
h3,
h4,
.Home_join_innerBox h1 {
  font-family: var(--sub-heading);
  font-size: var(--sub-heading-size);
  font-weight: 600;
}

p,
.galleryPage_podcast_suggestion_item_content h4,
.Footer_subscribe_banner_nav_navigation a {
  font-family: "Gotham Book";
  font-size: clamp(0.8rem, 1rem, 1.3rem);
}

button {
  font-family: "Gotham Book";
}

.Homepage_card_box1_price1,
.Homepage_card_box1_price2,
.galleryPage_podcast_suggestion_item_content h3,
.membershipPage_box1_card_content_price1,
.membershipPage_box1_card_content_price2,
.membershipPage_box1_card_content_price_price3,
.membershipPage_wps_cards_card_price1,
.membershipPage_wps_cards_card_price2,
.membershipPage_wps_cards_card_price3,
.membershipPage_ap_cards_prices_priceBox,
.membershipPage_jp_cards_prices_priceBox {
  font-family: "Gotham Book";
  font-size: clamp(0.5rem, 0.8rem, 1rem);
}

.membershipPage_banner_heading h1,
.StaffPage_banner_heading h1,
.galleryPage_banner h1,
.aboutPage_banner_heading h1,
.contactPage_banner_heading h1 {
  font-family: var(--heading);
  font-size: clamp(1.5rem, 2rem, 2.5rem);
}

li,
.staffPage_box_right_content_button a button,
.staffPage_box_content_button a button,
.membershipPage_wps_cards_card_caption,
.membershipPage_wps_cards_card_caption p,
.Footer_box2_box1,
.Footer_box2_box3 {
  font-family: "Gotham Book";
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  font-weight: 500;
}

.gallery_podcast_main_box_content h2 {
  margin-bottom: 0.5rem;
}

.gallery_podcast_main_box_content h2,
h3 {
  font-family: var(--sub-heading);
  font-size: var(--sub-heading-size);
  font-weight: 900;
}

.navbar {
  width: 100%;
  height: 80px;
  background: var(--background-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: transform 0.3s ease;
}

.navbar--hidden {
  transform: translateY(-100%);
}

.navbar__logo img {
  height: 50px;
  width: auto;
}

.navbar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 25px;
  border: 1px solid var(--border-color);
  padding: 5px;
}

.navbar__link {
  text-decoration: none;
  color: var(--text-color);

  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-family: "Caecilia LT Pro", sans-serif;
  font-weight: 600;
}

.navbar__link--active {
  background-color: var(--primary-color);
  color: var(--active-text-color);
  font-family: "Caecilia LT Pro", sans-serif;
}

.navbar__right-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__right-menu img {
  height: 40px;
  width: auto;
}

.navbar__button {
  color: var(--active-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Caecilia LT Pro", sans-serif;
}

.navbar__hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .navbar__logo img {
    height: 30px;
    width: auto;
  }
  .navbar {
    flex-wrap: wrap;
    height: 8vh;
    padding: 10px;
  }

  .navbar__navigation {
    flex-basis: 100%;
    order: 3;
    margin-top: 10px;
  }

  .navbar__right-menu {
    order: 2;
  }
}

@media (max-width: 768px) {
  h1 {
    font-family: var(--heading);
    font-size: clamp(1rem, 1.25rem, 1.5rem);
  }

  h2,
  h3,
  h4 {
    font-family: var(--sub-heading);
    font-size: clamp(0.7rem, 0.8rem, 1rem);
    font-weight: 600;
  }

  .Footer_subscribe_banner_nav_navigation a,
  .navbar__link,
  li {
    font-family: var(--sub-heading);
    font-size: clamp(0.7rem, 0.8rem, 1rem);
  }

  p .galleryPage_podcast_suggestion_item_content {
    font-family: "Gotham Book";
    font-size: clamp(0.5rem, 0.6rem, 0.7rem);
  }
  .Home_join_innerBox h1 {
    font-size: 1rem;
  }

  .membershipPage_banner_heading h1,
  .StaffPage_banner_heading h1,
  .galleryPage_banner h1,
  .aboutPage_banner_heading h1,
  .contactPage_banner_heading h1 {
    font-family: var(--heading);
    font-size: 1.35rem;
  }

  button {
    font-family: "Gotham Book";
  }
  .Home_Ourstrength_heading h2 {
    font-size: clamp(0.6rem, 0.8rem, 1rem);
    text-align: justify;
  }

  .Homepage_card_box1_price1,
  .Homepage_card_box1_price2,
  .galleryPage_podcast_suggestion_item_content h3,
  .membershipPage_box1_card_content_price1,
  .membershipPage_box1_card_content_price2,
  .membershipPage_box1_card_content_price_price3,
  .membershipPage_wps_cards_card_price1,
  .membershipPage_wps_cards_card_price2,
  .membershipPage_wps_cards_card_price3,
  .membershipPage_ap_cards_prices_priceBox,
  .membershipPage_jp_cards_prices_priceBox,
  .staffPage_box_right_content_button a button,
  .staffPage_box_content_button a button {
    font-family: "Gotham Book";
    font-size: clamp(0.5rem, 0.65rem, 0.8rem);
  }

  .membershipPage_wps_cards_card_caption p {
    font-family: "Gotham Book";
    font-size: clamp(0.5rem, 0.6rem, 0.7rem);
    font-weight: 500;
  }

  .gallery_podcast_main_box_content h2 {
    margin-bottom: 0.5rem;
  }

  .gallery_podcast_main_box_content h2 {
    font-family: var(--sub-heading);
    font-size: var(--sub-heading-size);
    font-weight: 900;
  }
  .gallery_podcast_main_box_content h3 {
    font-size: clamp(0.6rem, 0.8rem, 1rem);
    margin-bottom: 0.5rem;
    text-align: justify;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .navbar__hamburger {
    display: block;
    order: 3;
  }

  .navbar__navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: var(--background-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    z-index: 1000;
  }

  .navbar__navigation--open {
    display: flex;
    background-color: #fff;
    z-index: 100000;
    margin: 0.5rem;
  }

  .navbar__link {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .navbar__right-menu {
    display: none;
  }
  .navbar__logo img {
    height: 30px;
    width: auto;
  }
}

.membershipPage_ap_cards_button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;

}
